@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Geist:wght@100..900&display=swap");

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@import "tailwindcss";

@font-face {
  font-family: ClashDisplay;
  src: url("../fonts/ClashDisplay-Extralight.otf");
  font-weight: 200;
}
@font-face {
  font-family: ClashDisplay;
  src: url("../fonts/ClashDisplay-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: ClashDisplay;
  src: url("../fonts/ClashDisplay-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: ClashDisplay;
  src: url("../fonts/ClashDisplay-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: ClashDisplay;
  src: url("../fonts/ClashDisplay-Semibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: ClashDisplay;
  src: url("../fonts/ClashDisplay-Bold.otf");
  font-weight: 700;
}

@theme {
  --font-gabarito: "Gabarito", sans-serif;
  --font-geist: "Geist";
  --font-clashDisplay: "ClashDisplay";

  --text-fluid-sm: clamp(0.64rem, 0.06vi + 0.62rem, 0.67rem);
  --text-fluid-base: clamp(0.8rem, 0.18vi + 0.75rem, 0.89rem);
  --text-fluid-md: clamp(1rem, 0.37vi + 0.89rem, 1.19rem);
  --text-fluid-lg: clamp(1.25rem, 0.65vi + 1.06rem, 1.58rem);
  --text-fluid-xl: clamp(1.56rem, 1.07vi + 1.26rem, 2.11rem);
  --text-fluid-xxl: clamp(1.95rem, 1.68vi + 1.47rem, 2.81rem);
  --text-fluid-xxxl: clamp(2.44rem, 2.55vi + 1.71rem, 3.75rem);

  --color-cWhite: #e9e2e2;
  --color-darkBrown: #1d1616;
  --color-darkRed: #8e1616;
  --color-cPink: #d84040;
  --color-dark: #16181c;
}

body {
  font-family: var(--font-gabarito);
  background-color: var(--color-dark);
  background-image: url("../grain.svg");
  font-weight: 500;
}

h1 {
  font-size: var(--text-fluid-xxxl);
  font-family: var(--font-clashDisplay);
}

h2 {
  font-size: var(--text-fluid-xxl);
}

h3 {
  font-size: var(--text-fluid-xl);
}

p {
  font-size: var(--text-fluid-md);
}

li {
  text-decoration: none;
}

@layer base {
  .section {
    @apply flex min-h-screen flex-col items-center justify-center gap-10 py-16 sm:px-40;
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
